.text_yellow_color {
	color: #f2f933;
}

.text_center {
	text-align: center;
}

.text_right {
	text-align: right;
}

.text_bold {
	font-weight: bold;
}

.text_underline {
	text-decoration: underline;
}

.text_super {
	vertical-align: super;
	font-size: 14px;
}

.float_left {
	float: left;
}

.padding_10px {
	padding: 10px;
}

.padding_top_10px {
	padding-top: 10px;
}

.padding_bottom_10px {
	padding-bottom: 10px;
}

.padding_left_20px {
	padding-left: 20px;
}

.padding_left_150px {
	padding-left: 150px;
}

.margin_top_10px {
	margin-top: 10px;
}

.margin_bottom_10px {
	margin-bottom: 10px;
}

.ordered_list {
	list-style-type: decimal;
	padding-left: 25px;
}

.ordered_list li {
	padding-bottom: 10px;
}

.specil_ordered_list {
	list-style-type: none;
    counter-reset: item_number;
}

.specil_ordered_list li {
	text-indent: -2em;
	padding-left: 25px;
}

.specil_ordered_list .no_text_indent {
	text-indent: 0;
}

.specil_ordered_list li:before {
	content: counter(item_number) ". ";
}

.specil_ordered_list li.star:before {
    content: "*" counter(item_number) ". ";
}

.specil_ordered_list li:before,
.specil_ordered_list li.star:before {
	counter-increment: item_number;
	display: inline-block;
	width: 1.5em;
	text-align: right;
}

/*.specil_ordered_list {
	list-style: none;
}*/