.text_yellow_color {
	color: #f2f933;
}

.text_center {
	text-align: center;
}

.text_right {
	text-align: right;
}

.text_bold {
	font-weight: bold;
}

.padding_10px {
	padding: 10px;
}

.padding_top_10px {
	padding-top: 10px;
}

.padding_bottom_10px {
	padding-bottom: 10px;
}

.margin_top_10px {
	margin-top: 10px;
}

.margin_bottom_10px {
	margin-bottom: 10px;
}