* {
    margin: 0;
    padding: 0;
}

body {
    /*font-size: 0.7em;*/
    color: #FFFFFF;
    /*font-family: 'Roboto', sans-serif;*/
    /*font-family: 'Open Sans', sans-serif;*/
    /*font-family: 'Montserra', sans-serif;*/
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 1px;
    line-height: 2em;
}

h2 {
    color: #f2f933;
}

body, h2, h3 {
    font-size: 18px;
}

ol, ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

#wrapper {
    width: 980px;
    margin: auto;
}

#banner {
    height: 330px;
    background: no-repeat 0 0 url(../img/banner.png);
}

#logo {
    text-indent: -9999px;
    width: 256px;
    height: 256px;
}

#logo a {
    width: 100%;
    height: 100%;
    display: block;
}

nav,
footer {
    background-color: #00082a;
}

nav {
    height: 50px;
}

nav a {
    color: #FFFFFF;
}

nav a:hover {
    color: #f2f933;
}

#menu li {
    display: inline;
    margin: 0 44px;
    line-height: 50px;
}


/*#menu:after {
	content: "";
	display: block;
	visibility: hidden;
	height: 0;
	clear: both;
}*/

.noScrolling {
    width: 500px;
    height: 1300px;
    overflow: hidden;
}

#container,
#page_container {
    min-height: 800px;
    padding: 30px 60px;
}

#container {
    /*background-color: #4f8d97;*/
    background: #4f8d97 repeat-y 0 0 url(../img/bg.png);
}

#page_container {
    background-color: #4f8d97;
}

.subtitle {
    margin: 30px 0 20px;
    /*font-weight: 600;
	font-size: 20px;*/
}

.index_photo_list_area {
    position: relative;
}

#index_photo_text_area span {
    display: inline-block;
}

#index_photo_text_area span:nth-child(1) {
    padding-left: 258px;
}

#index_photo_text_area span:nth-child(2) {
    padding-left: 250px;
}

.index_photo_list li, .photos_list li {
    display: inline-block;
    width: 220px;
    margin: 30px;
}

.index_photo_list img {
    box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.5);
    border-radius: 210px;
}

#index_photo_text_area {
    position: absolute;
    top: 120px;
    /*left: 250px;*/
}

.photos_list li {
    /*height: 300px;*/
    min-height: 200px;
}

.photos_list li img {
    width: 210px;
    /*height: 276px;*/
    border: 5px solid #FFF;
    box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.5);
}

footer {
    height: 60px;
    color: #32469d;
    padding: 10px 60px;
}

#program_list>li {
    margin: 30px 0 20px;
}

.left_col {
    /*float: left;*/
    width: 150px;
    display: inline-block;
}

.detail_list>li {
    margin: 10px 0;
}

.page_number_area li {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #6299a1;
    box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.5);
    margin-right: 2px;
}

.page_number_area li a {
    display: inline-block;
    width: 100%;
}